@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --brown: #734f33;
  --blight: #734f33;
  --white: #f1decd;
  --wdark: #f0d5c0;
}

::selection {
  color: var(--white);
  background: var(--blight);
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  letter-spacing: 0.5px;
  /* font-family: "Cormorant Garamond", serif; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* <!-- ==========Section 1 Home========== --> */
.home {
  padding-top: 80px;
}

/* <!-- --------------navbar-------------- --> */

li,
a,
button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700px;
  font-size: 17px;
  color: var(--brown);
  text-decoration: none;
}

button {
  padding: 5px 15px;
  color: var(--white);
  background: var(--blight);
  border-color: var(--blight);
  border-width: 1px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

button:hover {
  padding: 5px 15px;
  color: var(--brown);
  background: transparent;
  border-color: var(--blight);
  border-width: 1px;
}

header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  width: 100%;
  background: rgba(235, 213, 195, 0.9);
  border-bottom: 1px solid var(--brown);
}
/* -------------navbar---------- */
.logo {
  height: 50px;
  cursor: pointer;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.indicator {
  background: var(--wdark);
  position: absolute;
  top: 0%;
  width: 70px;
  height: 70px;
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}

.line {
  height: 1px;
  background: var(--brown);
}

.list a {
  transition: all 0.3s ease-in-out 0s;
}

.list a:hover {
  color: var(--blight);
}

.nav-links ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(85.63px * 0));
  width: 81.63px;
}
.nav-links ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(85.63px * 1));
  width: 90.56px;
}
.nav-links ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(173.24px * 1));
  width: 90px;
}
.nav-links ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(260.8px * 1));
  width: 100.52px;
}
/* <!-- --------------main page content-------------- --> */

.logo1 {
  display: block;
  margin: 0 auto 0 auto;
  height: 300px;
}
.mainlogo h1 {
  color: var(--brown);
  text-align: center;
  font-weight: 200;
  font-size: 72px;
}
.mainlogo h3 {
  color: var(--blight);
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 11px;
}
.submain {
  text-align: center;
  margin: 50px auto 0 auto;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: var(--blight);
}
.submain h3:nth-child(1) {
  margin-bottom: 10px;
}
.submain h3:nth-child(2) {
  margin-bottom: 10px;
  font-weight: 100;
}
.submain button {
  margin: 30px;
  font-size: 25px;
  padding: 10px 30px;
}
.someimg h2 {
  background-image: linear-gradient(rgba(30, 4, 4, 0.1), rgba(30, 4, 4, 0.5)),
    url(/resource/shop1.jpg);
  min-height: 500px;
  width: 100%;
  color: transparent;
  background-size: cover;
}
/* <!-- ==========Section 2 About Us========== --> */
.aboutus {
  padding: 25px 0;
}
.coffe {
  margin: 270px auto;
  height: 400px;
  width: 1000px;
  max-width: 1000px;
  display: flex;
}
.sometext {
  margin: 40px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  color: var(--brown);
  height: 100px;
  width: 500px;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}
.sometext h3 {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
}
.vl {
  position: relative;
  height: 600px;
  border-left: 5px solid var(--brown);
  top: -100px;
}
.vlv {
  position: relative;
  height: 5px;
  width: 500px;
  border-top: 5px solid var(--blight);
  bottom: -160px;
}

/* <!-- ==========Section 3 Menu========== --> */
.menuc {
  padding-top: 100px;
}
.upmenu {
  padding: 60px 40px 70px 40px;
  text-align: center;
  color: var(--brown);
}
.upmenu h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--blight);
}
.first {
  font-size: 72px;
  font-weight: 200;
}
/* ---------------Menu---------------- */
.bigtag {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
}
.minibr {
  padding: 0 20px;
  width: 400px;
}
.maintag {
  font-size: 40px;
  color: var(--brown);
  padding-bottom: 10px;
  margin: 0;
}
.subtag {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  color: var(--brown);
  font-weight: 600;
}
.items h3 {
  color: var(--blight);
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
/* <!-- =====================Section 4 Gallery===================== --> */
.gallerys {
  padding-top: 100px;
}
.gallery {
  font-size: 1.5em;
}
.wrapper {
  width: 900px;
  min-height: auto;
  margin: 20px auto;
}
.wrapper ul {
  list-style: none;
  padding: 0;
}
.wrapper ul:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper ul li {
  width: 30%;
  margin: 30px 15px 0;
  height: 400px;
  background-size: cover;
  background-position: center center;
  float: left;
}
.wrapper ul li:nth-child(1n + 4) {
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}
.wrapper .btn-area {
  display: block;
  background: var(--brown);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  font-weight: 900;
  width: 180px;
  line-height: 50px;
  margin: 20px auto 0;
  border-radius: 50px;
}
.wrapper .btn-area .btn2 {
  display: none;
}
.wrapper #btnBox {
  display: none;
}
.wrapper #btnBox:checked ~ ul li:nth-child(1n + 4) {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.wrapper #btnBox:checked ~ .btn-area .btn2 {
  display: block;
}
.wrapper #btnBox:checked ~ .btn-area .btn1 {
  display: none;
}
/* <!-- ==================Form================== --> */
form {
  color: var(--brown);
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
}
input,
select,
textarea {
  padding: 1rem;
  background: transparent;
  border: 1px solid var(--brown);
  color: var(--brown);
  background-color: var(--white);
}
textarea {
  height: 8rem;
  resize: none;
}
textarea:focus {
  outline: none !important;
  border-color: var(--brown);
}
input:focus {
  outline: none !important;
  border-color: var(--brown);
}
select:focus {
  outline: none !important;
  border-color: var(--brown);
}
.formie {
  padding-top: 250px;
}
.formb {
  width: 150px;
}
.bdiv {
  text-align: center;
}
.formie {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form h1 {
  text-align: center;
  padding: 30px;
  color: var(--brown);
  font-weight: 700;
}
.talk h1 {
  font-size: 72px;
  text-align: left;
}
.fbig {
  padding: 60px 80px 70px 0;
}
.fbig br:nth-of-type(3) {
  color: aqua;
}
.bgtext {
  position: relative;
  bottom: 400px;
  left: auto;
  text-align: center;
  z-index: -3;
  font-size: 250px;
  color: var(--wdark);
}
/* ===================footer============= */
.footer {
  background: var(--brown);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 1 rem;
  font-family: "Roboto", sans-serif;
}
.footer h3 {
  font-weight: 100;
  padding: 5px;
}
.faq {
  margin: 4rem;
}
.tel {
  margin: 4rem;
}
.n-btnn {
  border-radius: 0;
  background: var(--white);
  color: var(--brown);
}
.n-btnn:hover {
  background: var(--wdark);
}
.form-ctrl {
  height: 30px;
}
.newsletter h3 {
  padding-bottom: 10px;
}
.footer h3::selection {
  color: var(--blight);
  background: var(--white);
}
/* =========scrollbar========= */
::-webkit-scrollbar {
  width: 0;
}
#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  /* background: var(--wdark); */
  /* background: rgba(255, 255, 255, 0.05); */
}
#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  /* height: 100%; */
  background: var(--brown);
  /* animation: animate 5s linear infinite; */
  border-radius: 10px;
}
#progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#progressBar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  #scrollPath {
    display: none;
  }
  #progressBar {
    display: none;
  }
  * {
    overflow-x: hidden;
  }
  .mainlogo h3 {
    letter-spacing: 4px;
  }
  h3 {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
  button {
    font-size: 1.3rem;
    padding: 7px 20px;
  }
  .mainlogo h1 {
    font-size: 57px;
  }
  .logo1 {
    padding-top: 20px;
    width: 100px;
    height: 120px;
  }
  .submain {
    margin: 20px;
  }
  .submain button {
    padding: 10px 30px;
  }
  .submain h3 {
    width: 80%;
    margin: auto;
  }
  .nmobile {
    display: none;
  }

  .wrapper .btn-area {
    padding: 7px 20px;
  }
  .maintag h3 {
    font-size: 25px;
  }
  .someimg h2 {
    color: transparent;
    height: 200px;
  }
  .aboutus {
    margin: 70px auto;
    padding: 0;
  }
  .coffe {
    margin: 0;
    height: 500px;
    width: auto;
  }
  .sometext {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .vl {
    display: none;
  }
  .snmobile {
    display: none;
  }
  .vlv {
    top: 30px;
    border: 1px solid var(--brown);
    height: 1px;
    width: 70%;
  }
  .menuc {
    padding: 0;
  }
  .bigtag {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    width: 90%;
    /* justify-content: center; */
    margin: auto;
  }
  .wrapper ul {
    padding-left: 0;
  }
  .wrapper ul li {
    width: 300px;
    height: 500px;
  }
  /* ==========FOrm=========== */
  .fbig {
    display: none;
  }
}
